.mainDiv {
  margin-left: 0.625rem;
  padding-top: 0.625rem;
  margin-right: 0.625rem;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.prefix {
  display: flex;
  align-items: center;
  height: 100%;
  border-right: 1px solid rgb(0, 0, 0, 0.4);
  font-size: var(--base_text_font_size);
  padding-inline: 0.5rem;
}

.constantNameDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 20vw;
}

.headingsDiv {
  display: flex;
  flex-direction: row;
  gap: 0.25vw;
  padding: 0.75rem 0.5vw;
  align-items: center;
  width: 100%;
  background-color: #fff;
}

.subHeadingDiv {
  background: #f0f0f0 0% 0% no-repeat padding-box;
  height: var(--line_height);
  width: 100%;
  align-items: center;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
}

.mainCheckBox {
  height: 0.875rem;
  width: 0.875rem;
  margin-top: 0.563rem !important;
  margin-left: 0.938rem !important;
  color: #c4c4c4 !important;
}

.inputDivs {
  background: #ffffff 0% 0% no-repeat padding-box;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inputSubDivs {
  display: flex;
  flex-direction: row;
}

.emptyStateMainDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 60vh;
  align-items: center;
}

.emptyStateImage {
  width: 10rem;
  height: 10rem;
  margin-top: 5rem;
}

.emptyStateHeading {
  margin-top: 1rem;
  text-align: left;
  font-size: var(--subtitle_text_font_size);
  letter-spacing: 0rem;
  font-weight: 600;
  color: #000000;
}

.emptyStateText {
  margin-top: 0.25rem;
  text-align: left;
  font-size: var(--base_text_font_size);
  letter-spacing: 0rem;
  color: #3a3a3a;
}

.constantLogo {
  height: 1.25rem;
  width: 1.25rem;
  background-color: lightgrey;
  border-radius: 0.25rem;
}

.constantHeading {
  text-align: left;
  font-size: var(--title_text_font_size);
  letter-spacing: 0rem;
  color: #000000;
  font-weight: 600;
}

.auditHistoryButton {
  height: 1.751rem;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 0.063rem solid #c4c4c4;
  border-radius: 0.125rem;
  opacity: 1;
  cursor: pointer;
  margin: 0.75rem 0rem 0.561rem 53.125rem;
  margin-left: auto;
}

.buttonContent {
  padding: 0.313rem;
  display: flex;
  flex-direction: row;
}

.auditButtonLogo {
  height: 0.625rem;
  width: 0.625rem;
}

.auditButtonText {
  margin-top: 0.125rem;
  text-align: left;
  font: normal normal 600 var(--base_text_font_size) / 1.063rem Open Sans;
  letter-spacing: 0rem;
  color: #606060;
  opacity: 1;
}

.moreOptionsIcon {
  height: 1.75rem;
  width: 1.75rem;
  border: 0.063rem solid #c4c4c4;
  margin: 0.75rem 1rem 0.563rem;
  border-radius: 0.125rem;
}

.constantName {
  text-align: left;
  font: normal normal 600 var(--base_text_font_size) / 17px Open Sans;
  letter-spacing: 0rem;
  color: #000000;
  margin: 0.5rem 1vw;
  width: 18vw;
}

.defaultValue {
  text-align: left;
  font: normal normal 600 var(--base_text_font_size) / 17px Open Sans;
  letter-spacing: 0rem;
  color: #000000;
  margin: 0;
  width: 10vw;
}

.constantInputField {
  margin: 0 1vw;
  color: #000000;
  width: 18vw;
  height: var(--line_height);
  background: #ffffff 0% 0% no-repeat padding-box;
  font: normal normal 600 var(--base_text_font_size) / 17px Open Sans !important;
  border: 1px solid #c4c4c4;
  border-radius: 0.125rem;
}

.defaultValueInputField {
  color: #000000;
  margin: 0;
  width: 10vw;
  height: var(--line_height);
  background: #ffffff 0% 0% no-repeat padding-box;
  font: normal normal 600 var(--base_text_font_size) / 17px Open Sans !important;
  border: 1px solid #c4c4c4;
  border-radius: 0.125rem;
}

.createConstantButton {
  background: var(--button_color);
  border: 1px solid var(--button_color);
  opacity: 1;
  font: normal normal 600 var(--base_text_font_size) / 17px Open Sans;
  color: white;
  border-radius: 0.125rem;
  cursor: pointer;
}

.constantsNameData {
  margin: 0 1vw;
  color: #000000;
  width: 18vw;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  font: normal normal normal var(--base_text_font_size) / 17px Open Sans;
  letter-spacing: 0rem;
}

.defaultValueData {
  width: 15vw;
  background: #ffffff 0% 0% no-repeat padding-box;
  font: normal normal 600 var(--base_text_font_size) / 17px Open Sans !important;
  border-radius: 0.125rem;
  color: #000000;
  border: none !important;
  box-shadow: none !important;
}

/*Added on 16/08/2023, bug_id:132156*/
.editableData{
  width:40vw !important
}

.constantsDataDiv {
  background: #ffffff 0% 0% no-repeat padding-box;
  width: 100%;
  margin: 0.5rem 0 0;
  padding: 0.25rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dataCheckbox {
  height: 0.875rem;
  width: 0.875rem;
  margin: 0.875rem 0rem 0.938rem 1rem !important;
  color: #c4c4c4 !important;
  border: 1px solid #c4c4c4;
}

.deleteIcon {
  color: grey;
  margin: 0 1vw;
  cursor: pointer;
  width: 1.5rem !important;
  height: 1.5rem !important;
}

.dataInfoIcon {
  margin: 0;
  color: #606060;
  cursor: pointer;
  width: 1.5rem !important;
  height: 1.5rem !important;
}

.updateButton {
  background-color: #0072c6;
  color: white;
  border-radius: 2px;
  width: 55px;
  height: 28px;
  border: 1px solid transparent;
  font-size: 12px;
  margin-inline: 10px;
  cursor: pointer;
}

.cancelButton {
  background-color: white;
  color: #0073c6;
  border: 1px solid #0072c6;
  border-radius: 2px;
  width: 55px;
  height: 28px;
  font-size: 12px;
  cursor: pointer;
}

.defaultValueData input[disabled] {
  border: none !important;
  color: #000 !important;
  background-color: inherit !important;
}

.countInHeading {
  text-align: left;
  color: #000000;
  font: normal normal normal var(--subtitle_text_font_size) / 19px
    var(--font_family);
  opacity: 1;
  margin-left: 6px;
}
