#pmweb_deployModalFailed_deployFailButtonArabic {
  margin-left: 10px !important;
}

#pmweb_deployModalFailed_deployFailButton {
  margin-left: 0px !important;
}

#pmweb_deploySuccessModal_deployButtonArabic {
  margin-left: 10px !important;
}

#pmweb_deploySuccessModal_deployButton {
  margin-left: 0px !important;
}
