.cardPinned {
  width: 16.45vw;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 0 !important;
  cursor: pointer;
  position: relative;
  overflow: unset !important;
}
@media screen and (min-width: 600px) and (max-width: 799px) {
  .cardPinned {
    width: 28.5vw;
  }
}

@media screen and (min-width: 800px) and (max-width: 1079px) {
  .cardPinned {
    width: 18.8vw;
  }
}
@media screen and (min-width: 1080px) and (max-width: 1250px) {
  .cardPinned {
    width: 22.5vw;
  }
}
.cardPinned:hover {
  background: rgba(0, 0, 0, 0.02);
}

.cardPinned:focus-visible {
  outline: 1px solid var(--brand_color1);
}

.row {
  display: flex;
  flex-direction: row;
  margin: 0;
  align-items: center;
}

.titlePinned {
  text-align: right; /* Changes made to solve comment pointed issue in Bug 133538 */
  font: normal normal 600 var(--base_text_font_size) / 1.25rem
    var(--font_family);
  letter-spacing: 0px;
  color: #000000;
  margin-bottom: 0;
  margin-top: 0.5rem;
  /* width: 12.5vw; */
  display: flex;
  margin-left: 0.5vw;
  justify-content: space-between;
}

.titlePinnedName {
  text-overflow: ellipsis;
  /* overflow: hidden; */
  width: auto;
  display: flex;
}

.version {
  font: normal normal 600 var(--base_text_font_size) / 1.25rem
    var(--font_family);
  letter-spacing: 0px;
  color: #828282;
  /* margin-left: 0.5vw; */
  display: flex;
}

.processStatus {
  font: normal normal 600 11px / 15px var(--font_family);
  letter-spacing: 0px;
  color: #606060;
  text-transform: uppercase;
  text-align: left;
  margin-left: 0.125vw;
}

.processCat {
  display: flex;
  letter-spacing: 0px;
  color: #606060;
  font: normal normal normal 11px / 15px var(--font_family);
  margin: 0.125rem 0 0.75rem 0;
  /* width: 12.5vw; */
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 0.5vw;
}

.processModification {
  text-align: left;
  font: normal normal normal 10px / 14px var(--font_family);
  letter-spacing: 0px;
  color: #606060;
}

.fileLogo {
  margin-top: 0.5rem;
  width: 1.34rem;
  aspect-ratio: 1;
  cursor: pointer;
}
.typeColor {
  border-radius: 50%;
  height: 7px;
  width: 7px;
  margin: 3.5px 0 0;
}

.pinnedCardContent {
  padding: var(--spacing_v) !important;
}

.processNameDiv {
  background: rgba(0, 114, 198, 0.07) 0% 0% no-repeat padding-box;
  border-radius: 4px;
  gap: 0.5vw;
  padding: 0 0 0 0.5vw;
}

.logoDiv {
  /* flex: 1; */
  width: 10%;
}

.titleDiv {
  /* flex: 10 1; */
  width: 90%;
  text-align: left;
}

.pinnedProcessAlignment {
  /* margin: 0.25rem 0 0 2.25vw; */
}

.pinIcon {
  /* margin-left: 3rem; */
  margin-top: -0.5rem;
  /* padding-right: 2vw; */
}
